<a href="https://colab.research.google.com/github/romis9724/jjambob_python/blob/master/school_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
! pip install xmltodict

In [0]:
! pip install pymysql

In [0]:
import requests
import xmltodict
import pymysql

1. 학교 정보 수집

In [0]:
svyYr = '2020'
serviceKey = ''

url = 'http://openapi.academyinfo.go.kr/openapi/service/rest/BasicInformationService/getUniversityCode'
parameters = {"ServiceKey":requests.utils.unquote(serviceKey), "svyYr":svyYr, "numOfRows": 999}

In [0]:
req = requests.get(url, params = parameters)
xml_data = xmltodict.parse(req.text)

In [0]:
schools = xml_data['response']['body']['items']['item']
print(schools)

2. 수집 데이터 DB에 저장

In [0]:
con = pymysql.connect(
    host='',
    user='',
    password='',
    db=''
)

try:
  with con.cursor() as cursor:
    sql = "insert into school( sch_krn_nm, clgcp_div_cd, sch_div_cd, zn_cd, estb_div_cd, use_at, reg_dtm, upd_dtm) values (%s, %s, %s, %s, %s, 'Y', now(), now())"

    for school in schools:
      cursor.execute(sql, (school['schlKrnNm'], school['clgcpDivCd'], school['schlDivCd'], school['znCd'], school['estbDivCd']))

  con.commit()
finally:
  con.close()